h1 {
    text-align: center;
    font-size: 16px;
    color: #5fbf00;
}

.btn {
    background: #5fbf00;
    background-image: -webkit-linear-gradient(top, #5fbf00, #d4ffaa);
    background-image: -moz-linear-gradient(top, #5fbf00, #d4ffaa);
    background-image: -ms-linear-gradient(top, #5fbf00, #d4ffaa);
    background-image: -o-linear-gradient(top, #5fbf00, #d4ffaa);
    background-image: linear-gradient(to bottom, #5fbf00, #d4ffaa);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 13px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}


.form {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.table {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #3f7f00;

    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;

    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;

    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;

    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}

.table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.table table tr:first-child td:first-child {
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}

.table table tr:first-child td:last-child {
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}

.table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.table tr:hover td {
    background-color: #ffffff;

}

.table td {
    vertical-align: middle;
    background: -o-linear-gradient(bottom, #d4ffaa 5%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d4ffaa), color-stop(1, #ffffff));
    background: -moz-linear-gradient(center top, #d4ffaa 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4ffaa", endColorstr="#ffffff");
    background: -o-linear-gradient(top, #d4ffaa, ffffff);

    background-color: #d4ffaa;

    border: 1px solid #3f7f00;
    border-width: 0px 1px 1px 0px;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.table tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.table tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.table tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.table tr:first-child td {
    background: -o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00));
    background: -moz-linear-gradient(center top, #5fbf00 5%, #3f7f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");
    background: -o-linear-gradient(top, #5fbf00, 3 f7f00);

    background-color: #5fbf00;
    border: 0px solid #3f7f00;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

.table tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00));
    background: -moz-linear-gradient(center top, #5fbf00 5%, #3f7f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");
    background: -o-linear-gradient(top, #5fbf00, 3 f7f00);

    background-color: #5fbf00;
}

.table tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.table tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}