<!DOCTYPE HTML>
<html>
<head>
    <title>Orders page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <script src="js/table.js" type="application/javascript"></script>
</head>
<body>
<h1>Orders :</h1>

<div id="table" class="table">
</div>
<br/>
<div class="form">
    <form>
        <button id='back' type="button" onclick="getResponse('/data/previous')" class="btn">Back</button>
        <button id='next' type="button" onclick="getResponse('/data/next')" class="btn">Next</button>
    </form>
</div>

</body>
</html>